$primary-color : #3949ab;
$secondary-color :#880e4f;
$grey : #bdbdbd;
$text : #414549;

h1,h2,h3,h4,h5,h6 {
	font-family: "Product Sans";
	padding: 0;
	margin: 0;
	font-weight: 500;
}

h1 {
	font-size: 24px;
}

h2 {
	text-align: center;
    border-bottom: solid 5px #880e4f;
    padding: 5px 0;
}

p, a, li, div {
	font-family: "Product Sans";
    line-height: 34px;
    color: #414549;
    font-size: 18px;
}


span {
	font-family: "Product Sans";
    font-size: 18px;
}

span.credit {
	font-style: italic;
	font-size: 12px;
	float: right;
	a {
		text-decoration: none;
		font-size: 12px;
	}
}

.container__inner {
	float: left;
	width: 100%;
}

.mat-card-actions {
	text-align: center;
}

.mat-toolbar {
	padding: 0;
	box-shadow: rgba(0, 0, 0, 0.137255) 0px 4px 5px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 10px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
}

.pull-left {
	float: left;
}


.pull-right {
	float: right;
}

a.link {
	text-decoration: underline;
	line-height: 1.8em;
	color: #0277bd;
}


.container {
	width: 1080px;
	margin: 0 auto;
}

.container__menu {
	width: 1080px;
	margin: 0 auto;
	height: 100%;
}

.container__content {
	float: left;
	width: 100%;
	padding: 90px 0 0;
	&.spacer {
		padding: 30px 0 0;
	}
}

.img-responsive {
	width: 100%;
}

.mat-form-field.fullwidth {
	width: 100%;
}

.summary-box {
    margin: 20px 0;
    float: left;
}

.cta__container {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.btn_cta.mat-raised-button  {
	width: 300px;
	height: 70px;
	padding-top: 13px;
	font-size: 24px;
}

.mat-menu-content a {
	text-decoration: none;
	line-height: 3em;
}

.content__container__inner {
	padding: 0 100px;
}

.scroll-to-container {
    margin-top: -60px;
    padding-top: 90px;
    float: left;
    width: 100%;
}


@media only screen and (max-width: 840px) {

}


@media only screen and (min-width: 840px) {
}
